@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <br /><br />
    <div align="center">           <img src="~/images/Perfil.jpg" /></div>
    <br />
    <div align="center"><h1>Rubén Eduardo Fuentes López</h1></div>
    <p style="text-align:justify">Soy un estudiante de la carrera ITS (Ingeniero en Tecnología de Software) en la Facultad de Ingeniería Mecánica Eléctrica de la Universidad Autónoma de Nuevo León, mi meta es llegar a ser un muy buen ingeniero el cual pueda llevar a cabo correctamente proyectos de desarrollo de diversas indoles para que así aquel proyecto en el que se trabaje generar un impacto positivo en su objetivo y los usuarios que interactúen con este sistema,  busco siempre el mejorar y trato de aprender correctamente el funcionamiento de las herramientas con las cuales entro en contacto para sacarles el mayor provecho. Actualmente trabajo con lenguajes como C#, LUA, C, SQL, entre otros para la creación de aplicaciones móviles y sistemas con una finalidad.</p>
</div>

