@page
@model ProyectosModel
@{
    ViewData["Title"] = "Proyectos";
}

<div>
    <h1>Proyectos</h1><br />
</div>

<!-- Ez Learn -->
<div>
    <h3>Ez Learn</h3>
    <p>
        Aplicación móvil en desarrollo, busca el mejorar el nivel de aprendizaje a través del reforzamiento de las materias de español y matemáticas entre otras para alumnos de nivel primaria.
    </p>
    <div align="center">
        <img src="~/images/EzLEARN.png" width="720" height="480" />
    </div>

</div>
<!-- SafeMAG -->
<div>
    <h3>SAFEMAG</h3>
    <p>
        SAFEMAG es un prototipo de sistema de seguridad, el cual se elaboró en conjunto con microcontrolador Arduino y ESP8266 este ultimo para interactuar a través de una red Wi-Fi, la aplicación se realizó con Corona SDK, esta se encarga de controlar los procesos básicos de iniciar el sistema y generar nuevos usuarios.
    </p>
    <div align="center">
        <img src="~/images/SAFE.png" width="720" height="480" />
    </div>

</div>
<!-- PIA -->
<div>
    <h3>Juego de Aprendizaje </h3>
    <p>
        Juego realizado con la intención de fomentar el aprendizaje y reforzamiento de conocimientos en áreas específicas de la educación, desarrollado en lenguaje C# y utilizando como apoyo una base de datos desarrollada en Access para un manejo simple y disponible para su modificación.
    </p>
    <div align="center">
        <img src="~/images/MetodosPIA.png" alt="Juego de Aprendizaje." width="720" height="480">
    </div>

    <br />
</div>




<!-- Agenda Dental -->
<div>
    <h3>Agenda Dental</h3>
    <p>
        Sistema realizado en C# con ayuda de SQL para la creación de base de datos, el sistema se encarga de agendar citas, así como del control de la información del paciente y su seguimiento a lo largo de los tratamientos.
    </p>
    <div align="center">
        <img src="~/images/agenda.png" width="720" height="480" />
    </div>

</div>
<!-- Nomina  -->
<div>
    <h3>Sistema de Nomina Basico</h3>
    <p>
        Sistema creado con ayuda de C# y utilizando SQL para el uso de base de datos, este sistema permite crear un listado de usuarios y calcular nominas básicas e imprimir un archivo PDF que muestre dicha nomina, permite verificar la información de nominas antiguas y de igual forma imprimirlas.
    </p>
    <div align="center">
        <img src="~/images/Nom.png" width="720" height="480" />
    </div>

</div>


<!-- Fotoelectrico -->
<div>
    <h3>Simulador Fotoeléctrico</h3>
    <p>
        Sistema realizado en Java que simula el efecto fotoeléctrico, el cual realiza las operaciones necesarias para obtener los valores participantes en este efecto, además muestra el cambio significativo en la longitud de onda.
    </p>
    <div align="center">
        <img src="~/images/foto.png" width="720" height="480" />
    </div>

</div>